.navbar{
    /* background-color: black; */
    color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    
    height: 4rem;
    /* border-radius:100px; */

}
.nav-left{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 20%;
   height: 3rem;
   background-color:transparent;
}
.nav-right{
   display: flex;
   justify-content: right;
   align-items: center;
   width:50%;
   background-color:transparent;

}
.head-container{
    background-color:transparent;
    display: flex;
    flex-direction: row;
    /* width: 40%; */
    align-items: center;
  
}
.head-text{
    color : cornsilk;
    background-color:transparent;
}
.nav-right p{
    color:cornsilk;
    background-color:transparent;
    margin:0 10px;
    cursor: pointer;
    border:2px solid white;
    font-size: 20px;
    font-weight: 600;
    padding:5px 20px;
    border-radius: 20px;
}